<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/quaters.css}">
  <link rel="stylesheet" th:href="@{/css/tailwind.css}">
  <title>Veterinary</title>
  <meta name="description"
    content="Veterinary is an efficient and easy-to-use URL shortening service that streamlines your online experience.">
</head>

<body>
  <div class="hidden lg:block">
    <span class="absolute box-base shadow-box box-animation-2 top-[5%] right-[70%]"></span>
    <span class="absolute box-base shadow-box box-animation-2 top-[5%] right-[20%]"></span>
    <span class="absolute box-base shadow-box box-animation-2 bottom-[15%] right-[19%] "></span>
    <span class="absolute box-base shadow-box box-animation-1 bottom-[9%] left-[14%]"></span>
  </div>

  <main>
    <section class="flex-col gap-y-4 mt-12">
      <h3 class="text-3xl font-extrabold text-center sm:text-3xl animation-h1">Veterinary</h3>
    </section>

  </main>

  <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</body>

</html>
